# SSH test server
SSH_USER=changeme
SSH_PASSWORD=changeme

# VNC test server
VNC_PASSWORD=changeme

# MySQL test server
MYSQL_ROOT_PASSWORD=changeme
MYSQL_USER=changeme
MYSQL_PASSWORD=changeme

# FTP test server
FTP_USER=changeme
FTP_PASSWORD=changeme
